<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>
  
<header class="panel-cover" style="background-image: url({{ "images/cover.jpg" | prepend: site.baseurl }})">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}" title="link to home of {{ site.title }}">
          <img src="{{ "images/logo.png" | prepend: site.baseurl }}" class="home-logo" alt="logo">
          <h1 class="panel-cover__title panel-title">estamos chegando!</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="https://goo.gl/forms/hIS08dHVLpHvSqsW2" target="_blank" title="link to {{ site.title }} registration form">pré cadastro aqui</a></li>
            </ul>
          </nav>

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
          
            {% if site.contact.facebook_username %}
              <!-- Facebook -->
              <li class="navigation__item">
                <a href="http://fb.me/{{ site.contact.facebook_username }}" title="{{ site.contact.facebook_username }} on Facebook" target="_blank">
                  <i class="icon icon-social-facebook"></i>
                  <span class="label">Facebook</span>
                </a>
              </li>
            {% endif %}

            {% if site.contact.instagram_username %}
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.instagram.com/{{ site.contact.instagram_username }}" title="{{ site.contact.instagram_username }} on Instagram" target="_blank">
                  <i class="icon icon-social-instagram"></i>
                  <span class="label">Instagram</span>
                </a>
              </li>
            {% endif %}

            {% if site.contact.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.contact.email }}" title="Email {{ site.contact.email }}" target="_blank">
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
            {% endif %}

            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
